@use 'variables' as *;

.discuss_block {
    background-color: $black;
    border-radius: 3.6458vw 3.6458vw 0px 0px;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 40px;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 125%;
        background-color: $black;
        border-radius: 3.6458vw 3.6458vw 0 0;
        z-index: -10;
    }

    .discuss_anim_block {
        width: 30.36458vw;
        display: flex;
        flex-direction: column;
        h2 {
            margin: 4.3229vw 0 0 4.1666vw;
            color: $white;
            display: inline-block;
        }
    }

    form {
        margin: 9.11458vw 0 0 7.3vw;
    }

    .discuss_head_part {
        display: flex;
        flex-direction: column;
        h2 {
            margin: 0%;
            color: $white;
            display: inline-block;
        }

        textarea {
            border: none;
            width: 57.1354vw;
            height: 5.3125vw;
            resize: vertical;
            border-bottom: 0.104vw solid #FFF;
            background-color: $black;
            color: $white;
            padding: 2.8vw 0 0 0;
            text-wrap: wrap;

            &:focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }

    .discuss_midle_part {
        margin: 5.2083vw 0 0 0;

        h2 {
            margin: 0%;
            color: $white;
            display: inline-block;
        }
    }

    .discuss_merge_input{
        display: flex;
    }
    
    .discuss_left_part {
        display: flex;
        flex-direction: column;
        input {
            width: 26.5625vw;
            height: 5.3125vw;
            border: none;
            border-bottom: 0.104vw solid #FFF;
            background-color: $black;
            color: $white;
            padding: 2.3vw 0 0 0;

            &:focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }

    .discuss_right_part {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 4vw;

        input {
            width: 26.5625vw;
            height: 5.3125vw;
            border: none;
            border-bottom: 0.104vw solid #FFF;
            background-color: $black;
            color: $white;
            padding: 2.3vw 0 0 0;

            &:focus {
                outline: 0;
                outline-offset: 0;
            }
        }
    }

    .discuss_foot_part {
        margin: 3vw 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            color: $white;
            width: 57.135vw;
            height: 5.2604vw;
            background-color: $cat-blue;
            border-radius: 1.041vw;
            border: none;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
    @media screen and (max-width: 1280px){
        .discuss_foot_part{
            margin-top: 6.44vw;
            margin-bottom: 7.44vw;
        }
    }
    span {
        margin: 1.145vw 0 0 0;
        color: $mouse-gray;

        a {
            text-decoration: none;
            color: $white;
        }
    }
    .accept-processing{
        padding-left: 0.4vw;
    }
}
.anim-arrow {
    width: 100%; /* Задайте нужную ширину */
    height: 100%; /* Задайте нужную высоту */
    margin-left: 10px;
    // border: 1px solid #ccc; /* Для наглядности */
    z-index: 10;
    background-color: transparent;
    canvas{
        background-color: transparent;
    }
}
.discuss_foot__item{
    width: 20.21vw;
}

@media screen and (max-width: 430px){
    .discuss_block{                
        width: 100%;
        height: 737px;
        justify-content: space-between;
        //align-items: end;
        flex-direction: row-reverse;
        form{
            max-width: 100%;
            width: 60vw;
            padding-left: 4%;
            margin: 0;
            align-self: flex-end;
            h2{
                font-size: 20px;
                display: inline-block;
                margin-bottom: 32px !important;
            }
            input::placeholder, textarea::placeholder{
                font-size: 12px !important;
                margin-bottom: 3px;
                line-height: 12px;
            }
            textarea{
                width: 100% !important;
                height: auto !important;
            }
            .discuss_midle_part{
                h2{
                    margin-bottom: -2px !important;
                }
                .discuss_merge_input{
                    flex-direction: column;
                    .discuss_right_part{
                        margin: 0;
                    }
                    .discuss_right_part, .discuss_left_part{
                        input{
                            width: 100%;
                            margin-top: 28px;
                        }
                    }
                }
            }
            .discuss_foot_part{
                margin-top: 0;
                button{
                    display: flex;
                    width: 100%;
                    height: auto;
                    padding: 2.326vw 7.209vw;
                    margin: 36 0 24 0;
                    justify-content: center;
                    align-items: center;
                    gap: 80px;
                    font-size: 20px;
                    border-radius: 2vw;
                }
                span{ text-align: center;
                    font-size: 8px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    a{
                        font-size: 8px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                };
            }
        }
        .discuss_anim_block{
            width: 40vw;
            h2{
                font-size: 44px;
                position: absolute;
                left: 0;
                top: 53px;
            }
        }
    }
}