@use 'variables' as *;
@use 'application';

.heder_wrapper {
    background: rgba(0, 0, 0, 0.30);

    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 10000000;
}

#heder_wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 10000000;
}

.logoHead {
    display: inline-block;
    flex-shrink: 0;

    svg {
        width: 3.02vw;
    }
}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 1.458vw;



    #media_1 {
        width: 1.979vw;

        &:hover {
            #insta {
                fill: $cat-blue;
            }
            cursor: pointer;
        }
    }
    #media_2 {
        width: 1.979vw;
    
        &:hover {
            #tg {
                fill: $cat-blue;
            }
            cursor: pointer;
        }
    }
}

.flexheader {
    height: auto;
    width: 91.75%;
    justify-content: space-between;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    margin: 2.16041vw 4.16666vw 0 4.16666vw;
}

header {
    width: 100%;
    height: 8.28125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $warm-white;
    border-radius: 0 0 2.083vw 2.083vw;

    #logo-white, nav {
        display: none;
    }

    transition: transform .7s cubic-bezier(0.78, 0.19, 0.18, 0.75);
}

header.hide {
    transform: translateY(-8.3vw);

}

.toolbar {
    display: inline-flex;
    align-items: center;
    height: 2.9166vw;
    gap: 6.770vw;
}

.discuss_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125vw;
    cursor: pointer;
    padding: 0%;

    border: none;
    background-color: transparent;

    svg {
        width: 1.666vw;
    }

    #lightning-blue {
        display: none;
    }

    &:hover {
        p {
            color: $cat-blue;
        }

        #lightning {
            display: none;
        }

        #lightning-blue {
            display: inline;
        }
    }
}

.menu_btn {
    display: flex;
    gap: 0.573vw;
    cursor: pointer;

    border: none;
    padding: 0%;
    background-color: transparent;

    svg {
        display: none;
    }

    &:hover {
        p {
            color: $cat-blue;
        }
    }
}

.create-line {
    width: 2.34375vw;
    position: relative;
    display: inline-flex;

    &::before {
        content: "";
        background: $cat-blue;
        width: 2.34375vw;
        height: 0.1041vw;
        top: 1.041vw;
        position: absolute;
    }
}

.menu_exit {
    border: none;
    background-color: transparent;
    padding: 0%;
    margin: 0 0 0 calc(var(--margin_exit) - 3.541vw + 0.573vw);

    svg {
        width: 3.541vw;
    }

    div, p {
        display: none;
    }

    &:hover {
        cursor: pointer;

        #menu_exit {
            fill: $main-black;
        }
    }
}


#menu.menu_opened {
    height: 45vw;
    width: 100%;
    position: absolute;
    z-index: 2;

    border-radius: 0px 0px 2.0833vw 2.0833vw;
    background: $cat-blue;

    #logo  {
        display: none;
    }

    #lightning {
        fill: $warm-white;
    }

    .discuss_btn:hover {
        #lightning-blue {
            display: inline;
            fill: $warm-white;
        }
        #lightning {
            display: none;
        }
    }

    #logo-white {
        display: inline;
    }    

    nav {
        display: inline-flex;
        margin: 3.6458vw 0 0 0;
        overflow: visible;

        ul { 
            display: flex;
            flex-direction: column;
            gap: 2.70833vw;
            list-style: none; 
            margin: 0%;
            padding: 0%;
        }

        li {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none;
        }
    }

    .link-menu {
        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: none;

        &.active::before,
        &.active::after {
            visibility: visible;
        }
    }

    .link-menu::after {
        content: attr(data-text); /* Дублируем текст */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white; /* Белый цвет для текста под кружком */
        clip-path: circle(0% at 0% 0%); /* Начальное положение круга – невидимо */
        z-index: 4;
        visibility: hidden;
        text-shadow: 1px 1px 1px $cat-blue;
    }

    .link-menu::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        height: 250%;
        transform: translate(-50%, -50%);
        background-color: $main-black;
        clip-path: circle(0% at 0% 0%); /* Начальное положение круга – невидимо */
        z-index: 3;
        visibility: hidden;
    }

    .link-menu:hover {
        color: $main-black;
        text-shadow: 0px -1px 1px $white;
        &::before {
            clip-path: circle(2.8645vw at var(--cursor-x) var(--cursor-y));
        }
        &::after {
            clip-path: circle(2.8645vw at var(--cursor-x1) var(--cursor-y1));
        }
    }
    #insta, #tg{
        fill: white;
    }
}
//phone_number
.phone_number:hover{
    color: #1758FF;
}

.socialMedi{
    a:hover{
        #insta{
            fill: black;
        }
        #tg{
            fill: black;
        }
    }
}
#insta:hover{
    fill: black;
}

@media screen and (max-width: 834px){
    .menu_opened{align-items: center;
        justify-content: space-between;
        height: 50vh !important;
        nav{
            padding-bottom: 10vh;
            a{
                font-size: 47px;
                &:hover{
                    text-shadow: none !important;
                }
            }
        }
    }
    .phone_number{
        display: none;
    }
    .toolbar{
        gap: 13.77vw;
    }
    #media_1, #media_2{
        width: 29px !important;
    }
    #logo{
        width: 34px;
    }
}

@media screen and (max-width: 430px){
    header{
        height: 56px;
    }
    header.hide {
        transform: translateY(-56px);
    
    }
    .menu_btn{
        p{
            font-size: 18px !important;
        }
    }
    .logoHead {
        svg {
            width: 5.02vw;
        }
    }
    .toolbar{
        .socialMedia{
            display: none;
        }
        
        .menu_btn{
            gap: 1.573vw;
            p{
                font-size: 3.245vw;
            }
            .create-line::before {
                content: "";
                background: #1758FF;
                width: 3.34375vw;
                height: 2px;
                top: 12px;
                position: absolute;
            }
            
            
        }
        .menu_exit{
            .phone_number{
                display: none;
            }
            .discuss_btn{
                display: none !important;
            }
            svg{
                width: 7.541vw;
                path{
                    fill: white !important;
                }
            }
        }
    }
    .menu_opened{
        
        height: 100vh !important;
        background-color: black !important;
        nav{
            align-self: flex-start;
            position: absolute;
            top: 15%;
            left: 5%;
            ul{
                li{
                    justify-content: flex-start !important;
                    a{
                        font-size: 8vw;
                        line-height: 8vh;
                    }
                }
            }
        }
        .phone_number{
            display: block;
            position: absolute;
            top: 60%;
            left: 5%;
            font-size: 3vw;
            font-family: "FactorA-Light"!important;
        }
        .discuss_btn{
            //display: block !important;
            position: absolute;
            top: 55%;
            left: 10%;
            p{
                font-size: 4vw !important;
                font-family: "FactorA-Light"!important;
            }
            svg{
                position: absolute;
                left: -15%;
                width: 3.666vw;
                top: -40%;
            }
        }
    }
    #discuss_exit{
        svg{
            width: 100% !important;
            height: 100% !important;
        }
        width: 3.998vw;
    }
    .link-menu:hover{
        color: #1758FF !important;
        text-shadow: none !important;
    } 
}